body
{
    background-color: #D3C8E2;
}

table
{
    border: 3px solid black;
}

th, td
{
    border: 3px solid black;
    padding: 5px;

}

.main_section
{
    width: 60%;
}

nav
{
    background-color: #957DAD;
    padding: 1vh;
}

nav a
{
    color: #F4C4CB;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 25px;
    padding: 1vh;
}

nav a:hover
{
    background-color: #FBD2F5;
    color: white;
}

nav a:active
{
    color: #E2FBE2;
    background-color: #F3BB9A;
}

.current_page
{
    color: #C5CDCB;
    background-color: #877fd7;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 3vh;
    color: #F6A3E2;
    background-color: #957DAD;
}

.body_wrapper
{
    box-sizing: border-box;
    min-height: 90%;
    display: flex;
    flex-direction: column;
}

html, body
{
    box-sizing: border-box;
    height: 100%;
}

::-webkit-scrollbar
{
    width: 1vh;
}

::-webkit-scrollbar-track
{
    background-color: #877fd7;

}

::-webkit-scrollbar-thumb
{
    background-color: #F3BB9A;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #F6A3E2;
}

form
{
    color: #4B3B61;
    background-color: #F4ECFF;
    font-family: monospace, sans-serif;
    border-radius: 10px;
}

fieldset
{
    border: 5px solid #957DAD;
    border-radius: 10px;
    padding: 25px;
}

legend
{
    font-size: 25px;
    font-weight: bold;
    color: #957DAD;
}

button, input[type="submit"]
{
    background-color: #957DAD;
    color: #F4C4CB;
    border-radius: 12px;
    border: 1px solid black;
    font-size: 30px;
    padding: 8px;
}

button:hover, input[type="submit"]:hover
{
    background-color: #F6A3E2;
    color: white;
}

.quiz_results
{
    background-color: #F4ECFF;
    border-radius: 10px;
    font-size: 3vh;
}

.quiz_results thead
{
    background-color: #957DAD;
    color: #F4C4CB;
}

.quiz_results tr.highlight
{
    background-color: #957DAD;
    font-weight: bold;
}

.dark_mode
{
    background-color: #121212;
    color: oldlace;
}

.dark_mode .card, .dark_mode .jumbotron,
.dark_mode nav, .dark_mode h1,
.dark_mode p, .dark_mode a
{
    background-color: dimgrey;
    color: oldlace;
}




