body
{
    background-color: #D3C8E2;
}

table
{
    border: 3px solid black;
}

th, td
{
    border: 3px solid black;
    padding: 5px;
    
}

.main_section
{
    width: 60%;
}

nav
{
    background-color: #957DAD;
    padding: 1vh;
}

nav a
{
    color: #F4C4CB;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 25px;
    padding: 1vh;
}

nav a:hover
{
    background-color: #FBD2F5;
    color: white;
}

nav a:active
{
    color: #E2FBE2;
    background-color: #F3BB9A;
}

.current_page
{
    color: #C5CDCB;
    background-color: #877fd7;
}

footer
{
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 3vh;
    color: #F6A3E2;
    background-color: #957DAD;
}

.body_wrapper
{
    box-sizing: border-box;
    min-height: 90%;
    display: flex;
    flex-direction: column;
}

html, body
{
    box-sizing: border-box;
    height: 100%;
}

::-webkit-scrollbar
{
    width: 1vh;
}

::-webkit-scrollbar-track
{
    background-color: #877fd7;
    
}

::-webkit-scrollbar-thumb
{
    background-color: #F3BB9A;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: #F6A3E2;
}


